.container-sobre{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 500px;

}
.container-sobre h3{
    font-family: var(--font-family-open);
    font-weight: lighter;
    font-size: 1.25rem;    
    color:white;
    padding: 0.5rem 1rem; 
    background-color: rgba(195, 38, 31,0.9); 

}