@import url(./style/reset.css);
@import url(./style/header.css);
@import url(./style/sobre.css);
@import url(./style/importer.css);
@font-face{
  src: url(./fonts/BenchNine-Light.ttf);
  font-family: 'BenchNine light';
}
@font-face{
  src: url(./fonts/BenchNine-Regular.ttf);
  font-family: 'BenchNine Regular';
}

:root{
  --main-color: #343434;
  --red-color:#c3261f;
  --font-family-light: 'BenchNine light', sans-serif;
  --font-family-regular: 'BenchNine Regular', sans-serif;
  --font-family-open: 'Open Sans', sans-serif;
}
 html{
  font-size: 20px;
}
h1{
  font-family: var(--font-family-regular);
  font-size: 5.5rem;
  color: var(--main-color);
  text-align: center;
}
h3{
  font-family: var(--font-family-open);
}
p{
  font-family: var(--font-family-regular);
  text-align: center;
}
h2{
  font-family: var(--font-family-light);
  font-size: 2.5rem;
  color: var(--main-color);
  text-align: center;
}